<div class="from-group col-lg-3 padding">
  <input type="search" class="form-control btn-rounded" placeholder="Search Trips" [(ngModel)]="searchByName">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive padding-none-xs">
  <table class="table table-bordered table-striped">
    <tr>
      <th class="text-center" (click)="sortList('_id')">
        <span class="sorting">ID</span>
      </th>
      <th class="text-center" (click)="sortList('userId')">
        <span class="sorting">User ID</span>
      </th>
      <th class="text-center" (click)="sortList('shipmentType')">
        <span class="sorting">Shipment Type</span>
      </th>
      <th class="text-center" (click)="sortList('startPoint')">
        <span class="sorting">Start Point</span>
      </th>
      <th class="text-center" (click)="sortList('destinationPoint')">
        <span class="sorting">Destination Point</span>
      </th>
      <th class="text-center" (click)="sortList('costAfterDiscount')">
        <span class="sorting">Cost (After Discount)</span>
      </th>
      <th class="text-center">User Details</th>
      <th class="text-center">Active</th>
      <th class="text-center">Delivered</th>
    </tr>
    <tr *ngFor="let trip of trips | filter:searchByName | orderBy: key : reverse">
      <td>{{trip._id}}</td>
      <td>{{trip.userId}}</td>
      <td>{{trip.shipmentType}}</td>
      <td>{{trip.startPoint}}</td>
      <td>{{trip.destinationPoint}}</td>
      <td>{{trip.costAfterDiscount}}</td>
      <td class="text-center">
        <a (click)="openInfoModal(trip)" class="color-black">
          <i>Info</i>
        </a>
      </td>
      <td>
        <input type="checkbox" [value]="trip._id">
      </td>
      <td>
        <input type="checkbox" [value]="trip._id">
      </td>
    </tr>
  </table>
  Showing {{trips.length}} of {{trips.length}} Results.
</div>